<div class="blog-form">
  <h1>Blog Create Page</h1>
  <form action="/blogs" method="POST">
    <div class="form-group">
      <label for="lbTitle">Title</label>
      <input type="text" name="title" id="lbTitle" />
    </div>
    <div class="form-group">
      <label for="lbIntro">Intro</label>
      <input type="text" name="intro" id="lbIntro" />
    </div>
    <div class="form-group">
      <label for="lbBody">Body</label>
      <textarea name="body" id="lbBody" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="blog-create-btn">create</button>
    </div>
  </form>
</div>
