<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>
  <body>
    <%- include('./components/navbar.ejs') %>
    <div class="container">
      <h1>404 not found.</h1>
    </div>
  </body>
</html>
