<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('./components/navbar.ejs') %>
    <h1>Hello Friend</h1>
    <h5>This is Home Page</h5>
    <% if(blogs.length){ %> <% blogs.forEach(blog => { %>
    <h1><%= blog.title %></h1>
    <p><%= blog.des %></p>
    <% }); %> <% }else{ %>
    <h3>No blogs found.</h3>
    <% } %>
  </body>
</html>
